body{
  font-family: Rajdhani;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1a1a1a;
  overflow-X: hidden;
  font-weight: 400;
  width: 100%;
}


.intro-container {
  width: 100%;
  padding-top: 100px;
  background-color: rgb(29, 147, 220);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding-bottom: 220px;
}

h3 {
  font-size: 35px;
  margin: 0;
  font-weight: 600;
}

h4{
  width: 60%;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.5px;
}

.section-1-container {
  position: relative;
  top: -120px;
  width: 70%;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.section {
  width: 100%;
  height: 100%;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.6px;
  text-align: center;
  background-color: white;
}

.section-right{
  border-left: solid 1px rgba(0, 0, 0, 0.201);
}

.section-logo{
  height: 80px;
  width: 80px;
  border-radius: 45px;
  background-color: #5BE9B9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.section-title{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.8px;
}

.section-info{
  width: 90%;
}

.section-tools-title{
  margin-top: 50px;
  margin-bottom: 20px;
  color: rgb(29, 147, 220);
  font-weight: 600;
}

.section-tools{
  margin-bottom: 7px;
}

.project-container{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-title{
  margin-top: 20px;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-align: center;
}

.grid-container{
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 100%;
  margin-bottom: 100px;
}

.grid{
  border-radius: 15px;
  height: 250px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.grid:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.grid:hover .img-grid{
  filter: opacity(0);
}

.grid:active{
  box-shadow: 0px 4px 10px rgba(176, 176, 176, 0.25)
}

.grid1 {
  background: linear-gradient(45deg, rgb(175, 252, 193),
  rgb(95, 153, 7));
}

.img-grid{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: opacity(0.4) sepia(1);
  position: absolute;
}

.grid2{
  background: linear-gradient(45deg, rgb(119, 119, 119),
  rgb(55, 55, 42));
}

.grid3{
  background: linear-gradient(45deg, rgb(47, 62, 94),
  rgb(39, 99, 229));
}

.grid3:hover{
  background: linear-gradient(75deg, rgb(47, 62, 94),
  rgb(39, 99, 229));
}

.grid4{
  background: linear-gradient(45deg, rgb(207, 232, 245),
  rgb(130, 207, 255));
  font-size: 20px;
  color: white;
}

.grid4:hover{
  box-shadow: none;
}

.website-name1{
  position: relative;
  font-family: Dancing script;
  font-weight: 700;
  color: white;
  font-size: 60px;
}

.website-name2{
  position: relative;
  color: rgb(255, 255, 255);
  letter-spacing: 3px;
  border: solid 2px white;
  display: inline-block;
  padding: 5px;
  font-size: 25px;
  font-family: Roboto;
}

.logo-grid{
  width: 250px;
}

.ligne{
  width: 100%;
  height: 1px;
  background-color: rgb(221, 221, 221);
  margin-top: 150px;
  margin-bottom: 150px;
}

.grid-container-tools{
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  width: 100%;
  margin-bottom: 100px;
}

.grid-tools{
  height: 100px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.logo-grid{
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.section-2-container{
  width: 80%;
  position: relative;
  top: -120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  row-gap: 40px;
}

.grid-startup{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  text-align: center;
  font-size: 20px;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  align-items: center;
  padding: 60px 40px;
  gap: 20px;
}

.contact-section{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.6;
}

.contact-title{
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 20px;
}

.contact-info{
  margin-bottom: 50px;
}

.body-button{
  padding: 14px 20px;
  font-size: 22px;
  border: solid 2px rgb(29, 147, 220);
  border-radius: 30px;
  background-color: transparent;
  color: rgb(29, 147, 220);
  letter-spacing: 0.8px;
  transition: 0.3s;
  cursor: pointer;
}

.startup-name {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: irish grover;
  font-size: 30px;
  gap: 10px;
}

.logo-startup{
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.logo{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.startup-link{
  background-color: rgba(168, 233, 255, 0.46);
  width: fit-content;
  padding: 8px 15px;
  border-radius: 8px;
  font-size: 18px;
  color: #013349;
  cursor: pointer;
  transition: ease 0.3s;
}

.startup-link:hover{
  color: rgb(9, 28, 41);
  font-weight: 500;
  padding: 8px 25px;
}