@media (max-width: 1200px){
  .section-2-container{
    grid-template-columns: 1fr 1fr;
  }
  .collab-container{
    width: 95%;
  }
}

@media (max-width: 1000px){
.grid-container{
  grid-template-columns: 1fr 1fr;
  }
  .section-2-container{
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .collab-container{
    grid-template-columns: 1fr;
    gap: 20px;
    height: 200px;
    justify-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .collab-info{
    width: 70%;
  }
  .logo-footer-container{
  margin-top: 150px;
  }
  h4{
    width: 80%;
  }
  .hero-footer-img{
    width: 700px;
  }
  
}

@media (max-width: 700px){
  .grid-container{
  grid-template-columns: 1fr;
  }
  .slider-wrapper{
    width: 500px;
  }
  .avis{
    font-size: 20px;
  }
  .section-1-container{
    width: 80%;
    flex-direction: column;
    border: solid 1px rgb(209, 209, 209);
    align-items: center;
  }
  .section-right{
    border-left: none;
    border-top: solid 1px rgb(209, 209, 209);
  }
  .hero-footer-img{
    width: 500px;
  }
}
@media (max-width: 500px){

  .slider-wrapper{
    width: 300px;
  }
  .hero-footer-img{
    width: 350px;
  }
}